/*  css variables */

$card-bg-01: #fdefe6;
$card-bg-02: #d6e5fb;
$card-bg-03: #ceebe9;
$card-bg-04: #e2f2b2;

$primary-color: #0a1d37;
$hero-bg: #d6e5fb;

$heading-fontSize: 2rem;
$small-text-color: #999;
$heading-text-color: #0a1d37;

$header-height: 70px;
$header-tablet-height: 60px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$txt-main-color: #111;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$box-shadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow3: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow4: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow5: rgba(0, 0, 0, 0.1) 0px 4px 12px;

$mobile-width: 767.98px;
$tablet-width: 1023.98px;

