.hero__section {
  background: $hero-bg;
  .hero__content {
    padding-top: 45px;
    h2 {
      color: $primary-color;
      font-size: 2.5rem;
      font-weight: 600;
      margin: 20px 0px;
    }

    p {
      color: $primary-color;
      line-height: 28px;
      &:nth-child(1) {
        font-weight: 500;
      }
    }
  }
}
