.services {
  &__item {
    padding: 20px;
    background: $card-bg-01;
    @include flex-align(center);
    column-gap: 0.7rem;
    border-radius: 5px;
    cursor: pointer;

    span i {
      font-size: 2.2rem;
      background: $primary-color;
      padding: 10px;
      border-radius: 50px;
      color: #fff;
      font-weight: 400;
    }

    h3 {
      color: $primary-color;
      font-size: 1.1rem;
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
      margin-top: 5px;
      color: #222;
    }
  }
}
