.shop {
  .filter__widget {
    @include tablet {
      margin-bottom: 30px;
    }
    select {
      padding: 8px 20px;
      border: 1px solid $primary-color;
      cursor: pointer;
      border-radius: 5px;
      background: $primary-color;
      color: #fff;
      &:focus {
        outline: none !important;
      }

      option {
        font-size: 0.9rem;
      }
      @include tablet {
        padding: 7px 20px;
        font-size: 0.9rem;
      }
    }
  }

  .search__box {
    width: 100%;
    @include flex(center, space-between);
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 2px;
    cursor: pointer;
    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 8px 10px;
    }
    span {
      color: $primary-color;
      i {
        font-size: 1.2rem;
      }
    }
  }
}
